.dynatraceufo-panel {
  display: flex;
  flex-direction: row;
}

.ufoRings {
  position: relative;
  flex: 2;
  margin: auto;
  min-width: 0;
}

.ufoLogoAndInfo {
  display: grid;
  flex: 1;
  margin: auto; 
}

.ufoLogoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px;
  gap: 2px;
  margin-bottom: 10px;
}

.ufoLogoLed {
  border-radius: 5px;
  border: 1px solid #212124;
}

table {
  margin-bottom: 10px;
}