<div class="dynatraceufo-panel" ng-style="{height: ctrl.height, overflow:'hidden'}" style="text-align:center;">
  <div class="ufoRings">
    <canvas id="{{ctrl.canvasid}}"></canvas>
  </div>
  <div class="ufoLogoAndInfo">
    <div class="ufoLogoContainer">
      <div id="logo1" class="ufoLogoLed" ng-style="{'backgroundColor': ctrl.logoColors[0]}"></div>
      <div id="logo2" class="ufoLogoLed" ng-style="{'backgroundColor': ctrl.logoColors[1]}"></div>
      <div id="logo3" class="ufoLogoLed" ng-style="{'backgroundColor': ctrl.logoColors[3]}"></div>
      <div id="logo4" class="ufoLogoLed" ng-style="{'backgroundColor': ctrl.logoColors[2]}"></div>
    </div>
    <div>
      <table style="width: 100%;">
        <tr ng-show="ctrl.showUfoName">
          <td style="text-align: right">
            Ufo:
          </td>
          <td>
            {{ctrl.ufoName}}
          </td>
        </tr>
        <tr ng-show="ctrl.showUfoIP">
          <td style="text-align: right">
            Ufo IP:
          </td>
          <td>
            {{ctrl.ufoClientIP}}
          </td>
        </tr>
        <tr ng-show="ctrl.showUfoWiFi">
          <td style="text-align: right">
            WiFi:
          </td>
          <td>
            {{ctrl.ufoWifiSsid}}
          </td>
        </tr>
        <tr ng-show="ctrl.showUfoLastUpdate">
          <td style="text-align: right">
            Last update:
          </td>
          <td>
            {{ctrl.ufoLastUpdate | date:'dd/MM HH:mm'}}
          </td>
        </tr>
      </table>
      <div ng-show="ctrl.showDropdown">
        Select UFO:
        <select name="ufo" ng-model="ctrl.selectedUfo" ng-change="ctrl.selectUfo()">
          <option ng-repeat="option in ctrl.availUfos">{{option}}</option>
        </select>
      </div>
    </div>
  </div>
</div>